<div class="container">
  <div class="d-flex flex-row-reverse">
    <form class="p-2" action="/logout" method="post">
      <button type="submit" class="btn btn-outline-success">Logout</button>
    </form>
  </div>
</div>