<div class="container my-3">
  <div class="card" style="width: 80%; margin: 0 auto;">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      {{> message}}
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <div class="mb-3">
        <form action="/login/facebook" method="GET">
          <button type="submit" class="btn btn-primary">Facebook Login</button>
        </form>
      </div>
      <div class="mb-3">
          <span class="form-label">Already have an account?</span>
          <a class="p-1 rounded" href="/register">Register</a>
      </div>
    </div>
  </div>
</div>